body
{
    margin: 0px;
    background-color: rgb(203, 252, 245);
}
.titulo
{
    text-align: center;
}
.img
{
    float: right;
    margin-right: 50px;
}
.texto
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
}
.img1
{
    margin-top: 50px;
    margin-bottom: 10px;
}
.imgs
{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.sociais
{
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}
.textoredes
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    text-align: center;
    margin-bottom: 10px;
}
